
<div class="main" >
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" style=" margin-bottom: 30px;">Order Details</h2>
  
        <div class="card" style="bOrder-color: #fd8e33;">
          <div class="card-header" style="background-color: #fd8e33; color: white;">
            <h5 style="color: white;">Order ID: {{ Order.orderId }}</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title" >Customer Details</h5>
            <p class="card-text" >Name: {{ Order.customerName }}</p>
            <p class="card-text" >Address: {{ Order.customerAddress }}</p>
            <p class="card-text" >Email: {{ Order.customerEmail }}</p>
            <p class="card-text" >Phone: {{ Order.customerPhone }}</p>
            <hr>
            <h5 class="card-title" >Order Summary</h5>
            <p class="card-text" >Order Date: {{ Order.orderDate }}</p>
            <p class="card-text" >Total Price: {{ Order.totalPrice | currency }}</p>
            <hr>
            <h5 class="card-title" >Order Items</h5>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of Order.items" style="background-color: #F5F5F5;">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 >{{ item.name }}</h6>
                    <p >Quantity: {{ item.quantity }}</p>
                  </div>
                  <div>
                    <p style="color: #10c222; ">{{ item.price | currency }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button (click)="finishOrder()" class="btn btn-success" style="float: left;"> Make anther  new Order</button>
          <br>
          <button (click)="CancelOrder()" class="btn btn-danger" style="float: right;">Cancel the Order and delete it </button>

<br>    
        </div>
  
      </div>
    </div>
    
  </div>